<form method="post" action="makemember">
	<fieldset>
		<legend>Add user to group</legend>
		<div id="userbox">
			<span class="title">
				Users
			</span>
			<ul>
				{% users %}
			</ul>
		</div>
		<div id="groupbox">
			<span class="title">
				Groups
			</span>
			<ul>
				{% groups %}
			</ul>
		</div>
		<input type="submit" value="Add">
	</fieldset>
</form>

<form method="post" action="breakmember">
	<fieldset>
		<legend>Remove user from group</legend>
		<div id="memberbox">
			<span class="title">
				Members
			</span>
			<ul>
				{% memberships %}
			</ul>
		</div>
		<input type="submit" value="Remove">
	</fieldset>
</form>